* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: #ddd;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #ddd;
}
h1 {
    text-transform: uppercase;
    max-width: 200px;
    margin-top: 20px;
    font-weight: 100;
    line-height: 20px;
}

ul {
    list-style: none;
    font-size: 1rem;
    font-family: serif;
    margin-top: 24px;
    position: absolute;
    bottom: 24px;
}

li:hover {
    font-style: italic;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav {
    margin-left: 20px;
}

footer nav ul {
    padding-left: 0;
}

footer nav ul li {
    padding: 5px 0;
}

@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    main {
        padding: 20px;
    }

    footer {
        flex-direction: column;
        align-items: flex-start; 
        padding-left: 10px;
    }
}

#audio-container {
    display: flex;
    gap:8px;
}

#audio {
    display: none;
}

#play-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #ddd;
}

#play-icon {
    font-size: 16px;
}

.volume-slider {
    width: 50px;
    height: 3px; /* Altura del control deslizante */
    margin-top: 10px;
    -webkit-appearance: none; /* Ocultar la apariencia predeterminada */
    appearance: none;
    background: #ddd; /* Color de fondo del control deslizante */
    border-radius: 5px; /* Bordes redondeados */
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Ocultar el estilo predeterminado del thumb en WebKit */
    appearance: none;
    width: 8px; /* Ancho del thumb */
    height: 8px; /* Altura del thumb */
    background: #ddd; /* Color del thumb */
    border-radius: 50%; /* Forma circular del thumb */
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 8px; /* Ancho del thumb en Firefox */
    height: 8px; /* Altura del thumb en Firefox */
    background: #ddd; /* Color del thumb en Firefox */
    border-radius: 50%; /* Forma circular del thumb en Firefox */
    cursor: pointer;
}

.accordion-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.accordion-header {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

.accordion-content {
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;

}

@media (max-width: 768px) {
    .accordion-container {
        left: 10px;
    }
}